openapi: 3.0.1
info:
  title: Thumbnails Api v1
  version: v1
servers:
- url: https://thumbnails.roblox.com/
paths:
  /v1/assets:
    get:
      tags:
      - Assets
      summary: Thumbnails assets.
      parameters:
      - name: assetIds
        in: query
        description: The asset ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: returnPolicy
        in: query
        description: Optional policy to use in selecting thumbnail to return (default
          = PlaceHolder).
        schema:
          type: string
          default: PlaceHolder
          enum:
          - PlaceHolder
          - AutoGenerated
          - ForceAutoGenerated
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 30x30
          enum:
          - 30x30
          - 42x42
          - 50x50
          - 60x62
          - 75x75
          - 110x110
          - 140x140
          - 150x150
          - 160x100
          - 160x600
          - 250x250
          - 256x144
          - 300x250
          - 304x166
          - 384x216
          - 396x216
          - 420x420
          - 480x270
          - 512x512
          - 576x324
          - 700x700
          - 728x90
          - 768x432
          - 1200x80
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated\
            \ or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          content: {}
        403:
          description: '9: User not authorized to use AutoGenerated or ForceAutoGenerated
            return policies.'
          content: {}
  /v1/assets-thumbnail-3d:
    get:
      tags:
      - Assets
      summary: Thumbnails assets.
      parameters:
      - name: assetId
        in: query
        description: The asset id.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
        400:
          description: '4: The requested Ids are invalid, of an invalid type or missing.'
          content: {}
  /v1/asset-thumbnail-animated:
    get:
      tags:
      - Assets
      summary: Thumbnails asset animated.
      parameters:
      - name: assetId
        in: query
        description: The asset id.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
        400:
          description: '4: The requested Ids are invalid, of an invalid type or missing.'
          content: {}
  /v1/badges/icons:
    get:
      tags:
      - Badges
      summary: Thumbnails badge icons.
      parameters:
      - name: badgeIds
        in: query
        description: The badge ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/bundles/thumbnails:
    get:
      tags:
      - Bundles
      summary: Get bundle thumbnails for the given CSV of bundle ids
      parameters:
      - name: bundleIds
        in: query
        description: CSV for the bundle ids to get bundle thumbnails
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
          - 420x420
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/developer-products/icons:
    get:
      tags:
      - DeveloperProducts
      summary: Thumbnails developer product icons.
      parameters:
      - name: developerProductIds
        in: query
        description: The developer product ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
          - 420x420
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/game-passes:
    get:
      tags:
      - GamePasses
      summary: Thumbnails game pass icons.
      parameters:
      - name: gamePassIds
        in: query
        description: The game pass ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/games/{universeId}/thumbnails:
    get:
      tags:
      - Games
      summary: Fetches game thumbnail URLs for a list of universes' thumbnail ids.
        Ids that do not correspond to a valid thumbnail will be filtered out.
      parameters:
      - name: universeId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: thumbnailIds
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 768x432
          enum:
          - 768x432
          - 576x324
          - 480x270
          - 384x216
          - 256x144
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
        404:
          description: '5: The requested universe does not exist.'
          content: {}
  /v1/games/icons:
    get:
      tags:
      - Games
      summary: Fetches game icon URLs for a list of universes' root places. Ids that
        do not correspond to a valid universe will be filtered out.
      parameters:
      - name: universeIds
        in: query
        description: The universe ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: returnPolicy
        in: query
        description: Optional policy to use in selecting game icon to return (default
          = PlaceHolder).
        schema:
          type: string
          default: PlaceHolder
          enum:
          - PlaceHolder
          - AutoGenerated
          - ForceAutoGenerated
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 50x50
          enum:
          - 50x50
          - 128x128
          - 150x150
          - 256x256
          - 512x512
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated\
            \ or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          content: {}
        403:
          description: '9: User not authorized to use AutoGenerated or ForceAutoGenerated
            return policies.'
          content: {}
  /v1/games/multiget/thumbnails:
    get:
      tags:
      - Games
      summary: Fetch game thumbnail URLs for a list of universe IDs.
      parameters:
      - name: universeIds
        in: query
        description: comma-delimited list of universe IDs
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: countPerUniverse
        in: query
        description: max number of thumbnails to return per universe
        schema:
          type: integer
          format: int32
          default: 1
      - name: defaults
        in: query
        description: true if defaults (if any) should be returned if no media exists
        schema:
          type: boolean
          default: true
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 768x432
          enum:
          - 768x432
          - 576x324
          - 480x270
          - 384x216
          - 256x144
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse]'
        400:
          description: "0: Unknown error\r\n1: There are too many requested Ids.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            5: The requested universe does not exist.\r\n10: Circular thumbnail requests\
            \ are not allowed"
          content: {}
  /v1/groups/icons:
    get:
      tags:
      - GroupEmblem
      summary: Fetches thumbnail URLs for a list of groups. Ids that do not correspond
        to groups will be filtered out.
      parameters:
      - name: groupIds
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
          - 420x420
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/metadata:
    get:
      tags:
      - MetaData
      summary: Return list of thumbnail meta data.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Thumbnails.Api.Models.ThumbnailMetaDataResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Thumbnails.Api.Models.ThumbnailMetaDataResponse'
  /v1/places/gameicons:
    get:
      tags:
      - Places
      summary: Fetches game icon URLs for a list of places. Ids that do not correspond
        to a valid place will be filtered out.
      parameters:
      - name: placeIds
        in: query
        description: The place ids.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: returnPolicy
        in: query
        description: Optional policy to use in selecting game icon to return (default
          = PlaceHolder).
        schema:
          type: string
          default: PlaceHolder
          enum:
          - PlaceHolder
          - AutoGenerated
          - ForceAutoGenerated
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 50x50
          enum:
          - 50x50
          - 128x128
          - 150x150
          - 256x256
          - 512x512
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            8: The requested return policy is invalid (must be PlaceHolder, AutoGenerated\
            \ or ForceAutoGenerated).\r\n10: Circular thumbnail requests are not allowed"
          content: {}
        403:
          description: '9: User not authorized to use AutoGenerated or ForceAutoGenerated
            return policies.'
          content: {}
  /v1/users/avatar:
    get:
      tags:
      - Avatar
      summary: Get Avatar Full body shots for the given CSV of userIds
      parameters:
      - name: userIds
        in: query
        description: CSV for the userIds to get avatar full body shots
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 30x30
          enum:
          - 30x30
          - 48x48
          - 60x60
          - 75x75
          - 100x100
          - 110x110
          - 140x140
          - 150x150
          - 150x200
          - 180x180
          - 250x250
          - 352x352
          - 420x420
          - 720x720
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/users/avatar-3d:
    get:
      tags:
      - Avatar
      summary: Get Avatar 3d object for a user
      parameters:
      - name: userId
        in: query
        description: user Id for avatar
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
        400:
          description: '4: The requested Ids are invalid, of an invalid type or missing.'
          content: {}
  /v1/users/avatar-bust:
    get:
      tags:
      - Avatar
      summary: Get Avatar Busts for the given CSV of userIds
      parameters:
      - name: userIds
        in: query
        description: CSV for the userIds to get avatar headshots
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 48x48
          enum:
          - 48x48
          - 50x50
          - 60x60
          - 75x75
          - 100x100
          - 150x150
          - 180x180
          - 352x352
          - 420x420
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/users/avatar-headshot:
    get:
      tags:
      - Avatar
      summary: Get Avatar Headshots for the given CSV of userIds
      parameters:
      - name: userIds
        in: query
        description: CSV for the userIds to get avatar headshots
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 48x48
          enum:
          - 48x48
          - 50x50
          - 60x60
          - 75x75
          - 100x100
          - 110x110
          - 150x150
          - 180x180
          - 352x352
          - 420x420
          - 720x720
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
          - Jpeg
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/users/outfit-3d:
    get:
      tags:
      - Outfits
      summary: Get 3d object for an outfit
      parameters:
      - name: outfitId
        in: query
        description: CSV for the userIds to get user outfits
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
  /v1/users/outfits:
    get:
      tags:
      - Outfits
      summary: Get outfits for the given CSV of userIds
      parameters:
      - name: userOutfitIds
        in: query
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: size
        in: query
        description: The thumbnail size, formatted widthxheight
        schema:
          type: string
          default: 150x150
          enum:
          - 150x150
          - 420x420
      - name: format
        in: query
        description: The thumbnail format
        schema:
          type: string
          default: Png
          enum:
          - Png
      - name: isCircular
        in: query
        description: The circle thumbnail output parameter, true or false
        schema:
          type: boolean
          default: false
          enum:
          - true
          - false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            10: Circular thumbnail requests are not allowed"
          content: {}
  /v1/batch:
    post:
      tags:
      - Batch
      summary: Returns a list of thumbnails with varying types and sizes
      requestBody:
        description: "List of ThumbnailBatchRequest objects, may contain the following\
          \ request types:\r\n            1. Avatar\r\n            2. AvatarHeadShot\r\
          \n            3. GameIcon\r\n            4. BadgeIcon\r\n            5.\
          \ GameThumbnail\r\n            6. GamePass\r\n            7. Asset\r\n \
          \           8. BundleThumbnail\r\n            9. Outfit\r\n            10.\
          \ GroupIcon\r\n            11. DeveloperProduct\r\n            12. AutoGeneratedAsset\r\
          \n            13. AvatarBust\r\n            14. PlaceIcon\r\n          \
          \  15. AutoGeneratedGameIcon\r\n            16. ForceAutoGeneratedGameIcon"
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Roblox.Thumbnails.Apis.Models.ThumbnailBatchRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Roblox.Thumbnails.Apis.Models.ThumbnailBatchRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse]'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse]'
        400:
          description: "1: There are too many requested Ids.\r\n2: The requested image\
            \ format is invalid. Please see documentation for valid thumbnail format\
            \ parameter name and values.\r\n3: The requested size is invalid. Please\
            \ see documentation for valid thumbnail size parameter name and format.\r\
            \n4: The requested Ids are invalid, of an invalid type or missing.\r\n\
            7: The specified type is not supported by the batch endpoint"
          content: {}
        403:
          description: '9: User not authorized to use AutoGenerated or ForceAutoGenerated
            return policies.'
          content: {}
      x-codegen-request-body-name: requests
components:
  schemas:
    Roblox.Thumbnails.Api.Models.ThumbnailMetaDataResponse:
      type: object
      properties:
        isWebappUseCacheEnabled:
          type: boolean
          description: webapp use cache
        webappCacheExpirationTimspan:
          type: string
          description: webapp caching expiration in ms
          format: date-span
      description: A response model for thumbnails which belong to a specific universe
        ID
    Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse:
      type: object
      properties:
        universeId:
          type: integer
          description: Integer universe ID
          format: int64
        error:
          $ref: '#/components/schemas/Roblox.Web.WebAPI.Models.ApiErrorModel'
        thumbnails:
          type: array
          description: An array of ThumbnailResponse objects
          items:
            $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
      description: A response model for thumbnails which belong to a specific universe
        ID
    Roblox.Thumbnails.Apis.Models.ThumbnailBatchRequest:
      type: object
      properties:
        requestId:
          type: string
          description: The request id. (Generated client side, used to represent the
            items in the request)
        targetId:
          type: integer
          description: The thumbnail target id
          format: int64
        token:
          type: string
          description: Alternative ase token used to identify a thumbnail
        alias:
          type: string
          description: "Alternative string used to identify a thumbnail\r\ninstead\
            \ of targetId"
        type:
          type: string
          description: The type of the thumbnails ['Avatar' = 1, 'AvatarHeadShot'
            = 2, 'GameIcon' = 3, 'BadgeIcon' = 4, 'GameThumbnail' = 5, 'GamePass'
            = 6, 'Asset' = 7, 'BundleThumbnail' = 8, 'Outfit' = 9, 'GroupIcon' = 10,
            'DeveloperProduct' = 11, 'AvatarBust' = 12, 'AutoGeneratedAsset' = 13,
            'PlaceIcon' = 14, 'AutoGeneratedGameIcon' = 15, 'ForceAutoGeneratedGameIcon'
            = 16]
          enum:
          - Avatar
          - AvatarHeadShot
          - GameIcon
          - BadgeIcon
          - GameThumbnail
          - GamePass
          - Asset
          - BundleThumbnail
          - Outfit
          - GroupIcon
          - DeveloperProduct
          - AvatarBust
          - AutoGeneratedAsset
          - PlaceIcon
          - AutoGeneratedGameIcon
          - ForceAutoGeneratedGameIcon
        size:
          type: string
          description: The thumbnail size
        format:
          type: string
          description: The thumbnail format
        isCircular:
          type: boolean
          description: Is the thumbnail circular shape
    Roblox.Thumbs.ImageParameters:
      type: object
      properties:
        Width:
          type: integer
          format: int32
        Height:
          type: integer
          format: int32
        Format:
          type: string
        IsCircular:
          type: boolean
        FileExtension:
          type: string
          readOnly: true
        MimeType:
          type: string
          readOnly: true
    Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse:
      type: object
      properties:
        requestId:
          type: string
        errorCode:
          type: integer
          format: int32
        errorMessage:
          type: string
        targetId:
          type: integer
          format: int64
        state:
          type: string
          description: ' [''Error'' = 0, ''Completed'' = 1, ''InReview'' = 2, ''Pending''
            = 3, ''Blocked'' = 4, ''TemporarilyUnavailable'' = 5]'
          enum:
          - Error
          - Completed
          - InReview
          - Pending
          - Blocked
          - TemporarilyUnavailable
        imageUrl:
          type: string
    Roblox.Web.Responses.Thumbnails.ThumbnailResponse:
      type: object
      properties:
        targetId:
          type: integer
          format: int64
        state:
          type: string
          description: ' [''Error'' = 0, ''Completed'' = 1, ''InReview'' = 2, ''Pending''
            = 3, ''Blocked'' = 4, ''TemporarilyUnavailable'' = 5]'
          enum:
          - Error
          - Completed
          - InReview
          - Pending
          - Blocked
          - TemporarilyUnavailable
        imageUrl:
          type: string
    Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse]:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Roblox.Thumbnails.Api.Models.UniverseThumbnailsResponse'
    Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse]:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailBatchResponse'
    Roblox.Web.WebAPI.Models.ApiArrayResponse[Roblox.Web.Responses.Thumbnails.ThumbnailResponse]:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Roblox.Web.Responses.Thumbnails.ThumbnailResponse'
    Roblox.Web.WebAPI.Models.ApiErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        userFacingMessage:
          type: string
        field:
          type: string
        fieldData:
          type: object
